.button {
  border: none; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
}

.button:disabled {
  background-color: rgb(207, 199, 199);
  cursor: not-allowed;
}

.primary {
  background-color: #008cba;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}